@model StockMaze.Models.Transaction

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionInvoiceRef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionInvoiceRef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryInUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventoryInUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryOutUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventoryOutUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryBalUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventoryBalUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCostPricePU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductCostPricePU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSellingPricePU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductSellingPricePU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvBalCostPriceTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvBalCostPriceTotal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="transactionId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
       <a class="btn btn-outline-secondary" asp-action="Index">Back</a>
    </form>
</div>
