@model StockMaze.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionInvoiceRef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionInvoiceRef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryInUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventoryInUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryOutUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventoryOutUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryBalUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventoryBalUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCostPricePU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductCostPricePU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSellingPricePU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductSellingPricePU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvBalCostPriceTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvBalCostPriceTotal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.transactionId">Edit</a> |
<a class="btn btn-outline-secondary" asp-action="Index">Back</a>
</div>
