@model IEnumerable<StockMaze.Models.Transaction>

@{
    ViewData["Title"] = "Index";
    int intsno=0;
}

<h2 class="text-center">Transactions</h2>
<div class="col-4 p-0 justify-content-end">
	<form asp-controller="Transactions" asp-action="Index" method="get">
		<span style="padding-top:100px;" class="btn-group">
			<input class="form-control" type="text" name="SearchText" placeholder="Search Transaction" />
			<input style="background-color:rgb(164,115,67); border-radius:5px; color:white;" class="p-1 m-lg-2 btn btn-sm btn-info" type="submit" value="Search" />
		</span>
	</form>
</div>
<div style="padding-top:100px;" class="row">
	<div class="col-md-8 offset-md-2">
<table  style="border : 1px solid black; padding : 10px;" class="table">
    <thead>
        <tr style="text-align:center">
            <th>S.no</th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionInvoiceRef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryInUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryOutUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryBalUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCostPricePU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSellingPricePU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvBalCostPriceTotal)
            </th>
            <th colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    intsno = intsno + 1;
        <tr>
            <td>@intsno</td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionInvoiceRef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryInUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryOutUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryBalUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCostPricePU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductSellingPricePU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvBalCostPriceTotal)
            </td>
            <td>
						<div class="btn-group">
						<a class="btn btn-sm btn-outline-primary" style="margin-right:16px" asp-action="Edit" asp-route-id="@item.transactionId"><i class="bi bi-pencil-square"></i>Edit</a>
						<a class="btn btn-sm btn-outline-info" asp-action="Details" asp-route-id="@item.transactionId"><i class="bi bi-eye"></i>Details</a>
						<a class="btn btn-sm btn-outline-danger" style="margin-left:16px"asp-action="Delete" asp-route-id="@item.transactionId"><i class="bi bi-trash"></i>Delete</a>
						</div>
						</td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
<div style="position:fixed; right:50px; bottom:100px;" class="text-white">
	<a class="btn btn-success " asp-controller="transactions" asp-action="Create"><i class="bi bi-plus-circle"></i>Create</a>
</div>
