@model StockMaze.Models.Vendor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vendor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vendorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vendorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vendorAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vendorAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vendorPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vendorPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vendorEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vendorEmail)
        </dd>
    </dl>
</div>
<div>
    <a class ="btn btn-outline-primary"asp-action="Edit" asp-route-id="@Model?.vendorId">Edit</a> |
     <a class="btn btn-outline-secondary" asp-action="Index">Back</a>
</div>
