@model StockMaze.Models.Customer

@{
    ViewData["Title"] = "Delete Customer Data";
}


<div>
    <h4>Delete @Model.customerName?</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customerAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customerAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customerPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customerPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customerEmail)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="customerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-outline-secondary" asp-action="Index">Back</a>
    </form>
</div>
