@model IEnumerable<StockMaze.Models.Customer>

@{
    ViewData["Title"] = "Index";
}


<div class="row">
	<div class="col-md-8 offset-md-2">
		<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.customerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customerEmail)
            </th>
            <th colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerEmail)
            </td>
                <td><a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.customerId"><i class="bi bi-pencil-square"></i>Edit</a></td>
			    <td><a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.customerId"><i class="bi bi-eye"></i>Details</a></td>
				<td><a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.customerId"><i class="bi bi-trash"></i>Delete</a></td>
            </tr>
}
    </tbody>
</table>
</div>
</div>
<div style="position:fixed; right:50px; bottom:100px;" class="text-white">
	<a class="btn btn-success " asp-controller="Customers" asp-action="Create"><i class="bi bi-plus-circle"></i>Create</a>
</div>
